/* aside */
.side {
	width: 170px;
	height: 300px;
	padding: 10px;
	border-right: 1px solid #ddd;
	background-color: #eee;
}
.widget {
	width: 150px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: lightgreen;
}
.widget input[type=submit] {
	padding: 2px;
	border: 0;
	background-color: transparent;
}
.widget input[type=submit]:hover {
	color: red;
}
/* section */
.main {
	margin-left: 10px;
}
.action {
	height: 50px;
	display: block;
}
.action a {
    padding: 10px;
	border-radius: 3px;
}
.action a:hover {
	color: black;
	background-color: LawnGreen;
}
/* post view */
.post {
	width: 600px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 3px;
}
/* form */
.form_style {
	width: 500px;
}
.form_style select {
	min-width: 50px;
	max-width: 100%;
	padding: 2px 4px;
	border: 1px solid #aaa;
	cursor: default;
}
.form_style textarea {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	border: 1px solid #aaa;
	resize: vertical;
}
.form_style input[type=submit] {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #aaa;
}