/* side */
.side {
	width: 170px;
	height: 300px;
	padding: 10px;
	border-right: 1px solid #ddd;
	background-color: #eee;
}
.widget {
	width: 150px;
	padding: 5px 9px 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 10px;
	background-color: lightgreen;
}
.widget input[type=submit] {
	padding: 2px;
	border: 0;
	background-color: transparent;
}
.widget input[type=submit]:hover {
	color: red;
}
.widget li {
	font-size: .8em;
}
/* section */
.main {
	margin-left: 10px;
}
.action {
	height: 50px;
	display: block;
}
.action a {
    padding: 10px;
	border-radius: 3px;
}
.action a:hover {
	color: black;
	background-color: LawnGreen;
}
/* post view */
article {
	margin-bottom: 20px;
}
article .post {
	width: 600px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.post .head h3, .post .head .op, .post .head a {
	line-height: 30px;
}
.post .head {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.post .head .op {
	padding-left: 10px;
	border-left: 1px solid #ddd;
	margin-left: 10px;
}
.post .head a {
	font-size: .8em;
	margin-left: 4px;
}
.post img {
	margin-top: 10px;
	max-width: 100%;
}
/* form */
.form_style {
	width: 500px;
}
.form_style li {
	margin-top: 10px;
}
.form_style #output {
	max-width: 100%;
}
.form_style select {
	min-width: 50px;
	max-width: 100%;
	padding: 2px 4px;
	border: 1px solid #aaa;
	cursor: default;
}
.form_style textarea {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	border: 1px solid #aaa;
	resize: vertical;
}
.form_style input[type=submit] {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #aaa;
}
/* category edit */
.category_edit ul {
	height: 40px;
}
.category_edit .category_name input[type=submit] {
	font-size: .8em;
	padding: 1px 5px 2px;
	margin-top: 2px;
}
.category_edit .category_name input[type=text] {
	width: 150px;
	padding: 3px 5px;
}