/* form */
.form_style {
	width: 500px;
}
.form_style li {
	margin-top: 10px;
}
.form_style #output {
	max-width: 100%;
}
.form_style select {
	min-width: 50px;
	max-width: 100%;
	padding: 2px 4px;
	border: 1px solid #aaa;
	cursor: default;
}
.form_style textarea {
	width: 100%;
	min-height: 200px;
	padding: 10px;
	border: 1px solid #aaa;
	resize: vertical;
}
.form_style input[type=submit] {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #aaa;
}
.form_style #error {
	color: red;
}
/* friend list */
.list {
	width: 300px;
}
.list ul {
	margin-top: 10px;
}
.list a {
	line-height: 22px;
}
.list input[type=submit] {
	font-size: .8em;
	padding: 1px 5px 2px;
	margin-top: 2px;
}
/* category edit */
.category_edit ul {
	height: 40px;
}
.category_edit .category_name input[type=submit] {
	font-size: .8em;
	padding: 1px 5px 2px;
	margin-top: 2px;
}
.category_edit .category_name input[type=text] {
	width: 150px;
	padding: 3px 5px;
}