/* main */
@media screen and (min-height: 480px) {
	.showlogin {
		top:0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	.login {
		top: 50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -150px;
		position: absolute;
		z-index: 0;
	}
}
@media screen and (max-height: 480px) {
	.login {
		padding: 40px 0;
		margin: auto;
	}
}
.showlogin {
	width: 100%;
	background-color: #ccc;
}
.login {
	width: 300px;
}
/* form */
.login h1, .about h1 {
	font-size: 42px;
	text-align: center;
	line-height: 60px;
	height: 80px;
}
.login li, .about li {
	margin-top: 10px;
}
.login input, .about input {
	width: 100%;
	font-size: 16px;
	color: #666;
	padding: 14px 10px;
	border: 0;
	border-radius: 3px;
}
.login input[type=submit], .about input[type=submit] {
	color: white;
	/* border: 1px solid #666; */
	background-color: #529ECC;
}
/* about */
.about {
	width: 600px;
	padding: 10px 0;
	border: 1px solid #ddd;
	border-radius: 3px;
}
/* menu */
.about .menu {
	text-align: center;
}
.about .menu a {
	padding: 5px 10px;
	margin: 0 10px;
}
.about .menu a:hover {
	color: white;
	border-radius: 3px;
	background-color: #529ECC;
}
.about li, .about .side, .about input {
	min-height: 30px;
    flex-direction: row;
	line-height: 30px;
}
.about .side {
	width: 150px;
	text-align: right;
	padding: 0 10px;
}
.about input, .about textarea, .about select {
	width: 300px;
}
.about input[type=text] {
	border: 1px solid #ddd;
	padding: 0 10px;
}
/* filebox */
.filebox {
	width: 300px;
	padding: 0;
}
.filebox #file_name {
	width: 230px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.filebox label {
	display: inline-block;
	padding: 0 8px;
	color: #fff;
	background-color: #529ECC;
	cursor: pointer;
	border: 1px solid #529ECC;
	border-radius: 3px;
}
.filebox input[type=file] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.filebox #error {
	font-size: .8em;
	color: red;
}
/* image */
.filebox #output {
	max-width: 180px;
	max-height: 180px;
	border-radius: 50%;
	margin-top: 5px;
}
/* intro */
.about textarea {
	min-height: 60px;
	padding: 10px;
	border: 1px solid #ddd;
	resize: vertical;
}
/* gender role */
.about select {
	font-size: 16px;
	height: 30px;
	padding: 0 10px;
	color: #666;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
}
/* ul */
.about li:first-child {
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
/* drawal */
.about input.drawal {
	background-color: red;
}