/* main */
@media screen and (min-height: 480px) {
	.showlogin {
		top:0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	.login {
		top: 50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -200px;
		position: absolute;
		z-index: 0;
	}
}
@media screen and (max-height: 480px) {
	.showlogin {
		width: 100%;
	}
	.login {
		margin: 40px auto;
	}
}
.login {
	width: 400px;
}
.login h1 {
	text-align: center;
	height: 80px;
}
.login input {
	width: 100%;
	font-size: 16px;
	color: #666;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
}
.login input[type=submit] {
	width: 100px;
	margin-left: 5px;
}