* {
	margin:0; padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body { min-width: 800px; }
a { color:#575757; text-decoration:none; outline:0; }
a:hover { color: blue; }
li { list-style: none; }
.fix { overflow: hidden; }
.floatleft { float: left; }
.floatright { float: right; }
.clearfix:before, .clearfix:after { content: " "; display: block; }
.clearfix:after { clear: both; }
.clearboth { clear: both; }
.center { margin: 0 auto; }
.content { width: 100%; padding-top: 10px; padding-bottom: 10px; min-height: 100px; }
form input { border: 1px solid #aaa; }
form input[type=submit] { cursor: pointer; }